exportPattern("^[^\\.]")
import(gplots)
import(manipulate)
import(minpack.lm)
import(playwith)
import(plot3D)
import(rpeakfit)
importFrom("grDevices", "dev.off", "palette", "png", "rainbow")
importFrom("graphics", "abline", "image", "locator", "par", "plot", "points")
importFrom("stats", "approx", "coef", "sd")
importFrom("utils", "read.table", "write.table")
